{% extends "base.html" %}

{% block content %}
    <h1>
      Literary Format List
      <a style="float: right" class="btn btn-primary" href="{% url 'catalog:literary_format_create' %}">+</a>
    </h1>

    {% if literary_format_list %}
      <table class="table">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>

        {% for literary_format in literary_format_list %}
          <tr>
            <td>
              {{ literary_format.id }}
            </td>
            <td>
              {{ literary_format.name }}
            </td>
            <td>
              <a href="{% url 'catalog:literary-format-update' pk=literary_format.id %}">Update</a>
            </td>
            <td>
              <a href="{% url 'catalog:literary-format-delete' pk=literary_format.id %}">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
        <p>There are not literary formats in library</p>
    {% endif %}
{% endblock %}